@using System.ComponentModel.DataAnnotations

<div class="mb-4">
    <label for="@($"{Prefix}Street")" class="block text-text-primary-light dark:text-text-primary-dark">Street</label>
    <InputText id="@($"{Prefix}Street")" @bind-Value="Street" class="bg-background-secondary-light dark:bg-background-secondary-dark text-text-primary-light dark:text-text-primary-dark p-2 mt-2 rounded w-full"/>
    <ValidationMessage For="@(() => Street)" class="text-red-primary"/>
</div>

<div class="mb-4">
    <label for="@($"{Prefix}City")" class="block text-text-primary-light dark:text-text-primary-dark">City</label>
    <InputText id="@($"{Prefix}City")" @bind-Value="City" class="bg-background-secondary-light dark:bg-background-secondary-dark text-text-primary-light dark:text-text-primary-dark p-2 mt-2 rounded w-full"/>
    <ValidationMessage For="@(() => City)" class="text-red-primary"/>
</div>

<div class="mb-4">
    <label for="@($"{Prefix}ZipCode")" class="block text-text-primary-light dark:text-text-primary-dark">Zip Code</label>
    <InputText id="@($"{Prefix}ZipCode")" @bind-Value="ZipCode" class="bg-background-secondary-light dark:bg-background-secondary-dark text-text-primary-light dark:text-text-primary-dark p-2 mt-2 rounded w-full"/>
    <ValidationMessage For="@(() => ZipCode)" class="text-red-primary"/>
</div>

<div class="mb-4">
    <label for="@($"{Prefix}Country")" class="block text-text-primary-light dark:text-text-primary-dark">Country</label>
    <InputText id="@($"{Prefix}Country")" @bind-Value="Country" class="bg-background-secondary-light dark:bg-background-secondary-dark text-text-primary-light dark:text-text-primary-dark p-2 mt-2 rounded w-full"/>
    <ValidationMessage For="@(() => Country)" class="text-red-primary"/>
</div>

<div class="mb-4">
    <label for="@($"{Prefix}State")" class="block text-text-primary-light dark:text-text-primary-dark">State (Optional)</label>
    <InputText id="@($"{Prefix}State")" @bind-Value="State" class="bg-background-secondary-light dark:bg-background-secondary-dark text-text-primary-light dark:text-text-primary-dark p-2 mt-2 rounded w-full"/>
    <ValidationMessage For="@(() => State)" class="text-red-primary"/>
</div>

@code {
    [Parameter]
    public string Street { get; set; } = string.Empty;

    [Parameter]
    public string City { get; set; } = string.Empty;

    [Parameter]
    public string ZipCode { get; set; } = string.Empty;

    [Parameter]
    public string Country { get; set; } = string.Empty;

    [Parameter]
    public string? State { get; set; }

    [Parameter]
    public string Prefix { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<string> StreetChanged { get; set; }

    [Parameter]
    public EventCallback<string> CityChanged { get; set; }

    [Parameter]
    public EventCallback<string> ZipCodeChanged { get; set; }

    [Parameter]
    public EventCallback<string> CountryChanged { get; set; }

    [Parameter]
    public EventCallback<string> StateChanged { get; set; }
}
